In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
training_values = pd.read_csv('Training Values-Copy1.csv')
training_labels= pd.read_csv('Training Labels-Copy1.csv')

In [3]:
full_data_merged = training_values.merge(training_labels, on="id")

# Exploration

In [4]:
full_data_merged.shape

(59400, 41)

In [5]:
full_data_merged.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [6]:
full_data_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55763 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59398 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55522 non-null  object
 21  scheme_name            30590 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 18.6+ MB

In [7]:
full_data_merged.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [8]:
full_data_merged['status_group'].value_counts()/len(full_data_merged)*100

status_group
functional                 54.308081
non functional             38.424242
functional needs repair     7.267677
Name: count, dtype: float64

In [9]:
full_data_merged.isnull().sum()/len(full_data_merged)*100

id                        0.000000
amount_tsh                0.000000
date_recorded             0.000000
funder                    6.122896
gps_height                0.000000
installer                 6.153199
longitude                 0.000000
latitude                  0.000000
wpt_name                  0.003367
num_private               0.000000
basin                     0.000000
subvillage                0.624579
region                    0.000000
region_code               0.000000
district_code             0.000000
lga                       0.000000
ward                      0.000000
population                0.000000
public_meeting            5.612795
recorded_by               0.000000
scheme_management         6.528620
scheme_name              48.501684
permit                    5.144781
construction_year         0.000000
extraction_type           0.000000
extraction_type_group     0.000000
extraction_type_class     0.000000
management                0.000000
management_group          0.000000
payment                   0.000000
payment_type              0.000000
water_quality             0.000000
quality_group             0.000000
quantity                  0.000000
quantity_group            0.000000
source                    0.000000
source_type               0.000000
source_class              0.000000
waterpoint_type           0.000000
waterpoint_type_group     0.000000
status_group              0.000000
dtype: float64

# Cleaning & Transformation

Format converting

In [10]:
full_data_merged['date_recorded'] = pd.to_datetime(full_data_merged['date_recorded'])

In [11]:
full_data_merged['permit']= full_data_merged['permit'].astype('boolean')

In [12]:
full_data_merged['public_meeting']= full_data_merged['public_meeting'].astype('boolean')

Drop NA and duplicates rows

In [13]:
full_data_merged = full_data_merged.drop_duplicates()

In [14]:
full_data_merged.dropna(thresh=35, inplace=True)

Fill NA Categorical columns

In [15]:
full_data_merged["funder"]=full_data_merged["funder"].fillna("Unknown")
full_data_merged['funder']= full_data_merged['funder'].replace(to_replace = '0', value ='Unknown')
full_data_merged["installer"]=full_data_merged["installer"].fillna("Unknown")
full_data_merged['installer']= full_data_merged['installer'].replace(to_replace = '0', value ='Unknown')
full_data_merged["scheme_management"]=full_data_merged["scheme_management"].fillna("Unknown")
full_data_merged["subvillage"]=full_data_merged["subvillage"].fillna("Unknown")
full_data_merged["wpt_name"]=full_data_merged["wpt_name"].fillna("Unknown")

Fill NA numerical columns

In [16]:
full_data_merged['amount_tsh'] = full_data_merged['amount_tsh'].replace(0.0, np.nan)
full_data_merged['gps_height'] = full_data_merged['gps_height'].replace(0, np.nan)
full_data_merged['population'] = full_data_merged['population'].replace(0, np.nan)
full_data_merged['longitude'] = full_data_merged['longitude'].replace(0.0, np.nan)
full_data_merged['latitude'] = full_data_merged['latitude'].replace(0.0, np.nan)
full_data_merged['construction_year'] = full_data_merged['construction_year'].replace(0, np.nan)

In [17]:
full_data_merged.isnull().sum()

id                           0
amount_tsh               41639
date_recorded                0
funder                       0
gps_height               20438
installer                    0
longitude                 1812
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                   0
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population               21381
public_meeting            3334
recorded_by                  0
scheme_management            0
scheme_name              28810
permit                    3056
construction_year        20709
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

Replace NA by Mean or Median of location group

In [18]:
full_data_merged["gps_height"]=full_data_merged["gps_height"].fillna(full_data_merged.groupby(['region', 'district_code'])["gps_height"].transform("mean"))
full_data_merged["gps_height"]=full_data_merged["gps_height"].fillna(full_data_merged.groupby(['region'])["gps_height"].transform("mean"))
full_data_merged["gps_height"]=full_data_merged["gps_height"].fillna(full_data_merged.groupby(['district_code'])["gps_height"].transform("mean"))
full_data_merged["gps_height"]=full_data_merged["gps_height"].fillna(full_data_merged["gps_height"].mean())

In [19]:
full_data_merged["amount_tsh"]=full_data_merged["amount_tsh"].fillna(full_data_merged.groupby(['region', 'district_code'])["amount_tsh"].transform("median"))
full_data_merged["amount_tsh"]=full_data_merged["amount_tsh"].fillna(full_data_merged.groupby(['region'])["amount_tsh"].transform("median"))
full_data_merged["amount_tsh"]=full_data_merged["amount_tsh"].fillna(full_data_merged.groupby(['district_code'])["amount_tsh"].transform("median"))
full_data_merged["amount_tsh"]=full_data_merged["amount_tsh"].fillna(full_data_merged["amount_tsh"].median())

In [20]:
full_data_merged["population"]=full_data_merged["population"].fillna(full_data_merged.groupby(['region', 'district_code'])["population"].transform("median"))
full_data_merged["population"]=full_data_merged["population"].fillna(full_data_merged.groupby(['region'])["population"].transform("median"))
full_data_merged["population"]=full_data_merged["population"].fillna(full_data_merged.groupby(['district_code'])["population"].transform("median"))
full_data_merged["population"]=full_data_merged["population"].fillna(full_data_merged["population"].median())

In [21]:
full_data_merged["longitude"]=full_data_merged["longitude"].fillna(full_data_merged.groupby(['region', 'district_code'])["longitude"].transform("mean"))
full_data_merged["longitude"]=full_data_merged["longitude"].fillna(full_data_merged.groupby(['region'])["longitude"].transform("mean"))

In [22]:
full_data_merged["construction_year"] = full_data_merged["construction_year"].fillna(full_data_merged.groupby(['region', 'district_code'])["construction_year"].transform("median"))
full_data_merged["construction_year"] = full_data_merged["construction_year"].fillna(full_data_merged.groupby(['region'])["construction_year"].transform("median"))
full_data_merged["construction_year"] = full_data_merged["construction_year"].fillna(full_data_merged.groupby(['district_code'])["construction_year"].transform("median"))
full_data_merged["construction_year"] = full_data_merged["construction_year"].fillna(full_data_merged["construction_year"].median())

In [23]:
full_data_merged.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                       0
gps_height                   0
installer                    0
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                   0
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management            0
scheme_name              28810
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

Columns Dropping

In [24]:
full_data_merged["wpt_name"].value_counts()

wpt_name
none                       3563
Shuleni                    1748
Zahanati                    830
Msikitini                   535
Kanisani                    323
                           ...
Kwa Medadi                    1
Kwa Kubembeni                 1
Shule Ya Msingi Milanzi       1
Funua                         1
Kwa Mzee Lugawa               1
Name: count, Length: 37399, dtype: int64

In [25]:
full_data_merged["num_private"].nunique()
full_data_merged["num_private"].value_counts()

num_private
0       58643
6          81
1          73
5          46
8          46
        ...
42          1
23          1
136         1
698         1
1402        1
Name: count, Length: 65, dtype: int64

In [26]:
full_data_merged["recorded_by"]

0        GeoData Consultants Ltd
1        GeoData Consultants Ltd
2        GeoData Consultants Ltd
3        GeoData Consultants Ltd
4        GeoData Consultants Ltd
                  ...
59395    GeoData Consultants Ltd
59396    GeoData Consultants Ltd
59397    GeoData Consultants Ltd
59398    GeoData Consultants Ltd
59399    GeoData Consultants Ltd
Name: recorded_by, Length: 59400, dtype: object

In [27]:
#Useless features only one values (no adding relevant info) or too many single values (noise) or features with no sense (in our context)

In [28]:
full_data_merged.drop(['wpt_name','num_private','recorded_by','subvillage'],axis=1,inplace=True)

In [29]:
#dropping redondant (or very close) columns

In [30]:
full_data_merged.groupby(['water_quality','quality_group']).size()

water_quality       quality_group
coloured            colored            490
fluoride            fluoride           200
fluoride abandoned  fluoride            17
milky               milky              804
salty               salty             4856
salty abandoned     salty              339
soft                good             50818
unknown             unknown           1876
dtype: int64

In [31]:
full_data_merged.groupby(['extraction_type_group','extraction_type_class','extraction_type']).size()

extraction_type_group  extraction_type_class  extraction_type
afridev                handpump               afridev                       1770
gravity                gravity                gravity                      26780
india mark ii          handpump               india mark ii                 2400
india mark iii         handpump               india mark iii                  98
mono                   motorpump              mono                          2865
nira/tanira            handpump               nira/tanira                   8154
other                  other                  other                         6430
other handpump         handpump               other - mkulima/shinyanga        2
                                              other - play pump               85
                                              other - swn 81                 229
                                              walimi                          48
other motorpump        motorpump              cemo                            90
                                              climax                          32
rope pump              rope pump              other - rope pump              451
submersible            submersible            ksb                           1415
                                              submersible                   4764
swn 80                 handpump               swn 80                        3670
wind-powered           wind-powered           windmill                       117
dtype: int64

In [32]:
full_data_merged.groupby(['scheme_management', 'scheme_name']).size()

scheme_management  scheme_name
Company            BFFS                           1
                   Bagamoyo Wate                 60
                   Bagamoyo wate                210
                   Borehole                       1
                   Borehole drilling project      1
                                               ...
Water authority    Yongoma                       16
                   Zepalama                       5
                   no scheme                      9
                   pump                           2
                   water supply at Kalebejo       1
Length: 3193, dtype: int64

In [33]:
full_data_merged.groupby(['water_quality', 'quality_group']).size()

water_quality       quality_group
coloured            colored            490
fluoride            fluoride           200
fluoride abandoned  fluoride            17
milky               milky              804
salty               salty             4856
salty abandoned     salty              339
soft                good             50818
unknown             unknown           1876
dtype: int64

In [34]:
full_data_merged.groupby(['quantity', 'quantity_group']).size()

quantity      quantity_group
dry           dry                6246
enough        enough            33186
insufficient  insufficient      15129
seasonal      seasonal           4050
unknown       unknown             789
dtype: int64

In [35]:
full_data_merged.groupby(['source', 'source_type', 'source_class']).size()

source                source_type           source_class
dam                   dam                   surface           656
hand dtw              borehole              groundwater       874
lake                  river/lake            surface           765
machine dbh           borehole              groundwater     11075
other                 other                 unknown           212
rainwater harvesting  rainwater harvesting  surface          2295
river                 river/lake            surface          9612
shallow well          shallow well          groundwater     16824
spring                spring                groundwater     17021
unknown               other                 unknown            66
dtype: int64

In [36]:
full_data_merged.groupby(['waterpoint_type', 'waterpoint_type_group']).size()

waterpoint_type              waterpoint_type_group
cattle trough                cattle trough              116
communal standpipe           communal standpipe       28522
communal standpipe multiple  communal standpipe        6103
dam                          dam                          7
hand pump                    hand pump                17488
improved spring              improved spring            784
other                        other                     6380
dtype: int64

In [37]:
full_data_merged.groupby(['funder', 'installer']).size()

funder               installer
A/co Germany         TPP TRUSTMOSHI         15
Aar                  AAR                     4
                     COCANE                 27
                     FOLAC                   1
                     Unknown                 1
                                            ..
Zao                  Zao                     1
Zao Water Spring     Zao water spring        3
Zao Water Spring X   Zao water spring X      1
Zinduka              ZINDUKA                 1
Zingibali Secondary  Zingibali Secondary     1
Length: 3754, dtype: int64

In [38]:
full_data_merged.groupby(['ward','lga']).size()

ward          lga
Aghondi       Manyoni         12
Akheri        Meru            45
Arash         Ngorongoro      12
Arri          Babati          19
Arusha Chini  Moshi Rural     57
                              ..
Ziwani        Mtwara Rural    32
Zoissa        Kongwa          16
Zombo         Kilosa          25
Zongomera     Kahama          33
Zuzu          Dodoma Urban    16
Length: 2191, dtype: int64

In [39]:
redundant_columns = ['lga','region_code','management_group','extraction_type_group','extraction_type_class','payment','quality_group','quantity_group','source_type','source_class','waterpoint_type_group']

In [40]:
full_data_merged.drop(redundant_columns, axis=1, inplace=True)

In [41]:
full_data_merged.isnull().sum()

id                       0
amount_tsh               0
date_recorded            0
funder                   0
gps_height               0
installer                0
longitude                0
latitude                 0
basin                    0
region                   0
district_code            0
ward                     0
population               0
public_meeting        3334
scheme_management        0
scheme_name          28810
permit                3056
construction_year        0
extraction_type          0
management               0
payment_type             0
water_quality            0
quantity                 0
source                   0
waterpoint_type          0
status_group             0
dtype: int64

In [42]:
#dropping because too many missing values

In [43]:
full_data_merged.drop(['permit', 'scheme_name','public_meeting'], axis=1, inplace=True)

In [44]:
full_data_merged.isnull().sum()

id                   0
amount_tsh           0
date_recorded        0
funder               0
gps_height           0
installer            0
longitude            0
latitude             0
basin                0
region               0
district_code        0
ward                 0
population           0
scheme_management    0
construction_year    0
extraction_type      0
management           0
payment_type         0
water_quality        0
quantity             0
source               0
waterpoint_type      0
status_group         0
dtype: int64

Feature engineering

In [45]:
#adding time between construction date and record date
full_data_merged['operation_time'] = full_data_merged['date_recorded'].dt.year - full_data_merged['construction_year']

In [46]:
full_data_merged['operation_time']

0        12.0
1         3.0
2         4.0
3        27.0
4         8.0
         ...
59395    14.0
59396    15.0
59397     8.0
59398    13.0
59399     9.0
Name: operation_time, Length: 59400, dtype: float64

In [47]:
full_data_merged.drop(['date_recorded','construction_year'], axis=1, inplace=True)

Caterogies formating

In [48]:
cat_features = full_data_merged.select_dtypes('object')

In [49]:
for col in cat_features.columns:
    full_data_merged[col] = (
        full_data_merged[col]
        .str.lower()
        .str.strip())

Top 20 Funder & installer

In [52]:
full_data_merged['top_installer'] = full_data_merged['installer'].apply(
    lambda x: x if x in full_data_merged['installer'].value_counts().head(20).index else 'Others'
)

In [61]:
full_data_merged['top_funder'] = full_data_merged['funder'].apply(
    lambda x: x if x in full_data_merged['funder'].value_counts().head(20).index else 'Others'
)

# Save and export cleaned data set to csv

In [64]:
pd.DataFrame(full_data_merged).to_csv("clean_training_set.csv")